<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author

Zayd Khan

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages that Data Scientists use
- List commonly used libraries that Data Scientists use
- List Data Science tools used by Data Scientists
- Show examples of arithmetic expressions evaluated in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Pandas

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335